.RecipeForm {

}

.RecipeForm label {
    display: block;
    font-size: xx-small;
}

.RecipeForm input {
    margin-bottom: 0.5em;
    background-color: #f0fff0;
}

.RecipeForm textarea {
    width: 90%;
    height: 4em;
    background-color: #f0fff0;
}